html, body{

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;


}

.pic{
  margin-top: 0;
width: auto;
height: 100%;
float: right;

}


h1{

  padding-top: 20%;
  margin: 0;
  padding-left: 10%;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 3vW;
}

h2{


  padding-left: 10%;
  font-family: 'Avenir Next','Helvetica Neue','Helvetica','Arial',
  'Avenir','Hiragino Sans',游ゴシック体, 'Yu Gothic', YuGothic,
  'ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;  font-size: 1.3vW;
  width: 35%;
  font-weight: 400;
  padding-bottom: 3%;
}

a{
  margin-left: 20%;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #e1ad01;
  padding: 0.5%;
  box-shadow: 7px 7px 19px 1px rgba(0,0,0,0.62);


}
