body, html{

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

.title p{

position: fixed;
left: 95%;
top: 35%;
font-size: 17px;
writing-mode: vertical-rl;
text-orientation: mixed;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
color: #000;
}



.left-menu p{

  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  color: #000;
  background-color: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
	left: 0;
  top: 45%;
	margin-left: 0%;
  display: block;
  position: fixed;
  width: 4%;
  padding-left: 0;
background-color: none;

}

.lines{

width: 40px;
top: 3%;
right: 1.5%;
height: auto;
float: right;
position: fixed;
z-index: 2001;

}


.menu{
	display: none;
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
top: 0;
left: 0;
}


#link {
  list-style: none;
  padding: 0;
  overflow: auto;
  float: left;
  width: 100%;
  padding-top: 80px;

}

#link li{
  display: inline;
  float: left;
  width: 20%;
  float: left;
  padding-left: 10%;
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}

#link li a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;

}

#link li a:hover{

	 text-decoration: line-through;
}

.background{

width: 88%;
margin-left: 6%;
margin-bottom: 0;
padding-bottom: 0;
margin-top: 6%;
z-index: -40;


}

.edge{
margin-top: 0;
padding-top: 0;
z-index: 100;
position: absolute;


}


.info{

  width: 88%;
  padding-left: 6%;
  padding-top: 20%;

}


.info h5{

font-family: arial;
font-size: 4vW;
margin-left: 6%;
margin-bottom: 30px;
padding-bottom: 0px;
float: left;
width: 55%;
font-family: 'Quicksand', sans-serif;
transform: translate3d(0, 0, 0) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
margin-top: 12%;
color: #484848;


}


.info h4{

width: 30%;
margin-left: 2%;
margin-top: 0;
padding-top: 0;
font-size: 1.1vW;
float: left;
padding-left: 4%;
line-height: 205%;
font-weight: 500;
font-family: 'Avenir Next','Helvetica Neue','Helvetica','Arial',
'Avenir','Hiragino Sans',游ゴシック体, 'Yu Gothic', YuGothic,
'ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
color: #696969;
transform: translate3d(0, 0, 0) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

}

.two{
  position: relative;
  margin-top: 2%;
  width: 29.5%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
}

.four_pictures{
height: 290%;
  width: 94%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15%;

}

.four_pictures h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-top: 45%;
  font-size: 3vW;
  text-transform: uppercase;
}


.one {
  margin-top: 2%;
  position: relative;
  width: 66.3%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;


}

.one img{
  position: relative;
  width: 100%;
  float: left;

}

.image {
  display: block;
  width: 100%;
  height: auto;
  float: left;
}

.right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #004A3B;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  z-index: 400;

}

.one:hover .right {
  width: 35%;
  left: 65%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: visible;
  white-space: normal;



}


.two img{
  position: relative;

  width: 100%;
  float: left;

}

.image {
  display: block;
  width: 100%;
  height: auto;
  float: left;
}

.top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #004A3B;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;

}

.two:hover .top {
  height: 45%;
  bottom: 55%;
}


.left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  background-color: #004A3B;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;

}

.one:hover .left {
  width: 35%;
  right: 65%;
}

.top .text {
  color: white;
  font-size: 20px;
  position: absolute;
  width: 100%;
}

.text h1{
  font-family: 'Poppins', sans-serif;
  font-size: 1vW;
  text-align: left;
  padding-left: 2%;
  padding-top: 2%;
  margin-top: 0;


}

.text p{
  padding-top: 0;
  margin-top: 5px;
	padding-left: 2%;
  padding-right: 1.5%;
  font-size: 100%;
  font-family: 'Avenir Next','Helvetica Neue','Helvetica','Arial',
  'Avenir','Hiragino Sans', 'Yu Gothic','ヒラギノ角ゴシック','メイリオ','ＭＳ Ｐゴシック','MS PGothic', sans-serif;
    font-size: 1.2vW;



}

.little-box{

border: 2px solid #AFDED3;
width: 10%;
margin-right: auto;
margin-left: auto;
height: 40px;
z-index: 100;
background: #fff;
padding-top: 0;
margin-top: 0;

}

a{
text-decoration: none;

}

.little-box h1{

font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  text-decoration: none;


}

.little-box:hover{

border-color: orange;

}

.little-box:hover h1{

color: orange;

}

.the_pics{

width: 88%;
margin-right: auto;
margin-left: auto;
height: 73%;
margin-bottom: 100px;


}

.little{

  width: 30%;
  height: auto;
  padding-left: 5%;
  float: left;
  padding-bottom: 15%;

}

.full_two{

  width: 88%;
  margin-left: 6%;
  height: auto;
  padding-top: 30%;
  overflow: hidden;

}


.full_two img{
  transition: transform .5s ease;

}

.full_two:hover img {
  transform: scale(1.5);
}

.footer{

width: 100%;
  background-color: #efefef;
  height: 60%;
  margin-top: 20%;

}

.link{

  padding-top: 16%;
  width: 80%;
  padding-left: 10%;

}

.link a{

  font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-transform: uppercase;
text-decoration: none;
color: #000;
padding-left: 14%;
width: 10%;

}

.link a:hover{

color: #e1ad01;

}

.natur{

width: 88%;
margin-left: 6%;
background-color: #1c1c1c;
color: #fff;
height: 500px;


}

.natur h1{
  padding-top: 150px;
  font-size: 1.9vW;
text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.natur p{

  font-family: 'Avenir Next','Helvetica Neue','Helvetica','Arial',
  'Avenir','Hiragino Sans', 'Yu Gothic','ヒラギノ角ゴシック','メイリオ','ＭＳ Ｐゴシック','MS PGothic', sans-serif;
  font-size: 1.4vW;
  margin-left: 25%;
  width: 50%;
  text-align: center;
}

h6{

  top: 50%;
  left: 40%;
  position: fixed;
  font-size: 3vW;
  color: #fff;
  z-index: -4;
}

.year{

  width: 88%;
  padding-left: 6%;

  height: 300%;

}

.month{

  width: 30%;
  height: 20%;
  background: lightblue;
  float: left;
  margin-right: 1.5%;
  margin-left: 1.5%;
  text-align: center;
  margin-top: 5%;
}

.month h1{

  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid #000;
  font-size: 2.5vW;
  padding-bottom: 1.5%;
  margin-top: 1.5%;

}


.month h2{

  font-family: 'Montserrat', sans-serif;
font-size: 1.6vW;
text-transform: uppercase;

}


.month h3{

  font-family: 'Montserrat', sans-serif;
font-size: 1.2vW;


}


.year h4{

  font-family: 'Montserrat', sans-serif;
  font-size: 4vW;
  text-align: center;
  padding-top: 3%;
  text-transform: uppercase;

}


@media screen and (max-width: 1240px) {

  p{

    font-size: 1.5vW;
  }

  .info h4{
  width: 50%;
  font-size: 1.4vW;
  }

  .month{
    height: 370px;
  }

      .four_pictures{
      height: 240%;


      }

      .natur h1{
        font-size: 3vW;

      }

      .natur p{

        font-size: 1.3vW;

      }

      .year{

        height: 250%;

      }

}

@media screen and (max-width: 991px) {


  .footer{

  width: 100%;
    background-color: #efefef;
    height: 60%;
    margin-top: 20%;

  }
  .link a{
  padding-left: 10%;
  }

  .month{
    height: 300px;
  }
}

@media screen and (max-width: 789px) {

  .month{
    width: 46%;
    height: 230px;

  }

    .four_pictures{
    height: 180%;
    }

    .natur h1{
      font-size: 4vW;
    }

    .natur p{
      font-size: 2.3vW;
    }

    .year{
      height: 150%;
    }

    .footer{
      margin-top: 115%;
    }

    .link a{
    padding-left: 7%;

    }


}


@media screen and (max-width: 601px) {

  .link a{
    text-align: center;
    padding-left: 40%;

  }


  .four_pictures{
  height: 150%;

  }

  .month{
    width: 46%;
    height: 220px;
  }


  .left-menu p{
    writing-mode: horizontal-tb;
    left: 20px;
    top: 0;
    margin-top: 0;
    font-weight: 1800;
    z-index: 200;
    color: #000;
    width: 100%;
    height: 40px;
  background-color: #fff;
  padding-top: 20px;

  }


  .title p{
  display: none;
  color: #000;
  }


    .month h1{
      font-size: 3vW;
    }


    .month h2{
    font-size: 2.0vW;
    }


    .month h3{
    font-size: 1.6vW;
    }

    .footer{
      height: 60%;
      margin-top: 120%;

    }

.lines{

  top:2%;
}


  #link {
    list-style: none;
    padding: 0;
    overflow: auto;
    float: left;
    width: 100%;
    padding-top: 50px;

  }

  #link li{
    display: inline;
    float: left;
    width: 100%;
    float: left;
      text-align: center;
      padding: 0;
      margin-left: auto;
      margin-right: auto;

  }

  #link li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 45px;


  }

  #link li a:hover{

  	 text-decoration: line-through;
  }

  }

@media screen and (max-width: 401px) {

  .year h4{
    font-size: 6vW;

  }

  .natur{
  height: 300px;
  }

  .natur h1{
    padding-top: 80px;
      text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
    .four_pictures{
    height: 100%;

    }

    .footer{
      height: 30%;
      margin-top: 500%;

    }

  .month{
    width: 100%;
    height: 250px;
  }

  .month h1{
    font-size: 4.5vW;
  }


  .month h2{
    font-family: 'Montserrat', sans-serif;
  font-size: 3.1vW;
  text-transform: uppercase;
  }


  .month h3{
    font-family: 'Montserrat', sans-serif;
  font-size: 2.6vW;
  }

}
