body, html{

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}

.title p{

position: fixed;
left: 95%;
top: 35%;
z-index: 1000;
font-size: 17px;
writing-mode: vertical-rl;
text-orientation: mixed;
text-transform: uppercase;

}

.left-menu p{

  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-decoration: none;
  color: #000;
  background-color: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
	left: 0;
  top: 45%;
	margin-left: 0%;
  display: block;
  position: fixed;
  width: 4%;
  padding-left: 0;


}


.background{
margin-top: 4%;
  width: 88%;
  margin-left: 6%;
  height: auto;
  float: left;
  margin-bottom: 30px;
}

.background img{
  width: 100%;
  height: auto;
  float: right;
  margin-top: 0;
  overflow: hidden;
}

.about{

background: #fff;
width: 88%;
height: 205%;
margin-top: 0px;
margin-left: 6%;
margin-right: 6%;


}

.about h1, .about h2{
margin-top: 0;
padding-left: 45%;
font-family: 'Montserrat', sans-serif;


}

.about h1{
font-size: 2vW;
padding-top: 0%;
width: 45%;

}

.about h2{

  padding-bottom: 0%;
  font-size: 1.4vW;
  padding-left: 47%;
}

.about h5{
color: red;
  padding-bottom: 0;
  padding-left: 50%;
  padding-top: 80%;
  margin-left: 0;
  font-size: 20px;
  font-family: 'Pavanam', sans-serif;

}




.board{

    width: 25%;
    height: auto;
    float: left;
    padding-left: 15%;
    padding-top: 100px;

}

.middle{

  padding-left: 6%;
  width: 88%;
  margin-right: 6%;
  padding-right: 0;
}

.blue{

  background-color: #e1ad01;
  width: 88%;
  margin-left: 6%;
  height: 600px;
  padding-top: 0px;

}

.bali{

  width: 25%;
  height: auto;
  padding-left: 19%;
  float: left;

}

.three_levels, .backup{

  width: 88%;
  margin-left: 6%;
  height: 1000px;
  padding-top: 100px;
}

.backup{

  display: none;
}

.three_levels h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5vW;
  text-transform: uppercase;
  text-align: center;
  padding-top: 50px;

}



.one{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 28.5%;
  right: 0;
  height: 88.7%;
  width: 71.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e1ad01;
}

.lvl1:hover .one {
  opacity: 1;
}

.lvl1 {
  position: relative;
  width: 25%;
  float: left;
  padding-left: 10%;
  padding-top: 40px;
}


.lvl {
  position: relative;
  width: 100%;
  float: left;
  padding-top: 40px;
}


.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.text_two {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 40%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.image1 {
  width: 100%;
  float: left;
  height: auto;

}



.two{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 5.5%;
  right: 0;
  height: 89%;
  width: 96.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e1ad01;
}

.lvl2:hover .two {
  opacity: 1;
}

.lvl2 {
  position: relative;
  width: 49.1%;
  float: left;

  padding-left: 3%;
  padding-top: 40px;
}


.image2 {
  width: 102%;
  float: left;
  height: auto;

}


.three{
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 11.2%;
  right: 0;
  height: 90.8%;
  width: 88.8%;
  opacity: 0;
  transition: .5s ease;
  background-color: #e1ad01;
}

.lvl3:hover .three {
  opacity: 1;
}

.lvl3 {
  position: relative;
  width: 78%;
  float: left;
padding-left: 10%;
padding-top: 40px;
}


.image3 {
width: 100%;
float: left;
height: auto;

}

.three_levels {
margin-bottom: 200px;

}


h4{

  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

p{
  font-family: 'Lato', sans-serif;
  font-size: 1.3vW;
text-align: center;
}

.blue p{
  font-family: 'Lato', sans-serif;
  font-size: 1.4vW;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.best p{
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  float: left;
  width: 30%;
}


.blue h5{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.3vW;
text-align: center;
padding-top: 250px;
}

h6{
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
text-align: center;
text-transform: uppercase;

}

.two_pictures{

  width: 88%;
margin-right: auto;
margin-left: auto;
  background: #FFF;
  height: 800px;
  padding-top: 300px;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 300px;
}




.column{
background: #fff;
width: 50%;
float: left;

}

.left{

  background: blue;
  width: 45.5%;
 height: 550px;
 margin-top: 300px;
 margin-left: 9%;
 margin-right: 0;

}

.right{

  background: blue;
  width: 45.5%;
 height: 550px;
 float: left;

}

.surf7, .surf2, .first, .second{

  width: 70%;
  height: auto;
}

.surf2{
  padding-left: 23%;
  display: block;

}

.surf7{
  padding-top: 140px;
  display: block;


}

.lines{

width: 40px;
top: 30px;
right: 30px;
height: auto;
float: right;
position: fixed;
z-index: 1002;
}


.menu{
	display: none;
  background: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
top: 0;
left: 0;
z-index: 1001;
}


#links {
  list-style: none;
  padding: 0;
  overflow: auto;
  float: left;
  width: 100%;
  padding-top: 80px;

}

#links li{
  display: inline;
  float: left;
  width: 100%;
  float: left;
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;

}

#links li a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  line-height: 45px;


}

#links li a:hover{

	 text-decoration: line-through;
}

.cross{

width: 40px;
top: 30px;
right: 30px;
height: auto;
float: right;
position: fixed;

}

h2{

  text-transform: uppercase;
}

.info{

  width: 88%;
  margin-left: 6%;
  padding-bottom: 500px;

}

.info h5{

font-family: 'Avenir Next','Helvetica Neue','Helvetica','Arial',
'Avenir','Hiragino Sans',游ゴシック体, 'Yu Gothic', YuGothic,
'ヒラギノ角ゴシック','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
font-size: 4vW;
border-bottom: 1px solid #686868;
margin-left: 3%;
margin-bottom: 30px;
padding-bottom: 0px;

}

.info h3{

width: 30%;
margin-left: 3%;
margin-top: 0;
padding-top: 0;
float: left;
text-align: left;
font-size: 1.9vW;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;


}

.info h4{
  text-align: left;
  font-family: 'Avenir Next','Helvetica Neue','Helvetica','Arial',
  'Avenir','Hiragino Sans', 'Yu Gothic',
  'ヒラギノ角ゴシック','メイリオ','ＭＳ Ｐゴシック','MS PGothic', sans-serif;
width: 65%;
margin-left: 2%;
margin-top: 0;
padding-top: 0;
font-size: 20px;
float: left;
line-height: 28px;
font-weight: 400;
font-size: 1.7vW;
text-transform: lowercase;
line-height: 160%;

}



.book{

  background-color: #e1ad01;
  margin-right: 0;
  padding-right: 0;
  margin-right: 6%;
  height: 500px;
  margin-left: 6%;

}


.book h1{

padding-top: 10%;
margin-left: 6%;
text-align: center;
width: 88%;
padding-bottom: 50px;
font-family: 'Pavanam', sans-serif;
font-size: 25px;

}

.logo{
height: auto;
width: 20%;
padding-left: 8%;

}

.logos{

margin-right: auto;
margin-left: auto;
width: 80%;
padding-left: 6%;
padding-bottom: 0;
margin-bottom: 0;
padding-bottom: 200px;

}


.bali{

  width: 25%;
  height: auto;
  padding-left: 19%;
  float: left;
  display: block;

}

.pixels{

width: 88%;
padding-left: 6%;
margin-top: 200px;
height: 1000px;
font-family: 'Montserrat', sans-serif;
text-align: center;

}

.pixels h1{

padding-bottom: 20px;
text-transform: uppercase;
font-size: 2.4vW;

}

.box{
width: 30%;
margin-left: 1.5%;
margin-right: 1.5%;
height: 496px;
background-color: #ffffff;
float: left;
  box-shadow: 7px 7px 19px 1px rgba(0,0,0,0.22);
border: 1px solid #efefef;


}



.box:hover{

  transform: scale(1.03);
  box-shadow: 7px 7px 19px 1px rgba(0,0,0,0.62);

}

.surf{

  width: 100%;
  height: auto;
  float: left;
}

.words{
margin-top: 0;
width: 100%;
height: 150px;
background-color: #fff;
color: #000;
padding-left: 0;
margin-left: 0;
text-align: left;

}


.words h1{
  padding-bottom: 0;
padding-top: 10px;
font-size: 1vW;
color: #800000;
margin-top: 0;
text-align: left;
padding-left: 7%;
font-family: 'Montserrat', sans-serif;
font-weight: 400;
text-align: left;
text-transform: uppercase;


}

.box:hover p{

  color: #800000;
}


.box:hover h1{

  color: #000;
}

.bild{
  margin-bottom: 0;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}


.words p{
  margin-top: 0;
  color: #000;
  padding-top: 0;
  width: 95%;
  padding-left: 0;
  font-family: 'Avenir Next','Helvetica Neue','Helvetica','Arial',
  'Avenir','Hiragino Sans', 'Yu Gothic','ヒラギノ角ゴシック','メイリオ',
  'ＭＳ Ｐゴシック','MS PGothic', sans-serif;
  float: left;
  text-align: left;
  padding-left: 2%;
  line-height: 30px;
  font-size: 1.3vW;


}

font-family: 'Kodchasan', sans-serif;
font-family: 'Gothic A1', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Pavanam', sans-serif;


.edge{
  position: absolute;
  background-repeat: no-repeat;
  height: 10px;
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  padding-top:
}

.border{
  display: block;
  top: -35px;
  left: 0;
  background: url("edge-white.png") repeat-x 50% 0;
  background-size: auto 100%;
  width: 100%;
  height: 36px;

}

.footer{

width: 100%;
  background-color: #efefef;
  height: 50%;

}

.link{

  padding-top: 13%;
  width: 80%;
  padding-left: 10%;

}

.link a{

  font-family: 'Montserrat', sans-serif;
font-size: 20px;
text-transform: uppercase;
text-decoration: none;
color: #000;
padding-left: 14%;
width: 10%;

}

.link a:hover{

color: #e1ad01;

}


@media screen and (max-width: 1240px) {


  .box{
height: 460px;


  }

  p{
  font-size: 1.5vW;
  }

  .three_levels{
padding-top: 0;
  }

  .info h4{
  width: 60%;
  font-size: 1.6vW;
  }

  .month{
    height: 370px;
  }

      .four_pictures{
      height: 240%;


      }

      .natur h1{
        font-size: 3vW;

      }

      .natur p{

        font-size: 1.3vW;

      }

      .year{
        height: 250%;
      }

      .book h1{

      padding-top: 170px;

      }


      .two_pictures{
        margin-bottom: 0;
      }

}

@media screen and (max-width: 988px) {

  .link a{
    padding-left: 10%;

  }

.pixels{

  height: 800px;

}

    .box{
  height: 400px;


    }


}

@media screen and (max-width: 724px) {

  .column{
  background: #fff;
  width: 100%;
  float: left;

  }

  .surf7, .surf2, .first, .second{

    width: 100%;
    height: auto;
  }

  .surf2{
    padding-left: 0%;
    display: block;

  }

  .surf7{
    padding-top: 40px;
    display: block;


  }

  .footer{
margin-top: 1200px;
  width: 100%;
    background-color: #efefef;
    height: 300px;

  }

  .link a{
    padding-left: 8%;

  }


  .words p{
    line-height: 15px;

  }

  .box{

    height: 260px;
  }

}


@media screen and (max-width: 639px) {


  .background{
  margin-top: 40px;
  }


  #link {
    list-style: none;
    padding: 0;
    overflow: auto;
    float: left;
    width: 100%;
    padding-top: 50px;

  }

  #link li{
    display: inline;
    float: left;
    width: 100%;
    float: left;
      text-align: center;
      padding: 0;
      margin-left: auto;
      margin-right: auto;

  }

  #link li a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    line-height: 45px;


  }

  #link li a:hover{

  	 text-decoration: line-through;
  }

.backup h3{
font-size: 4vW;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
text-align: center;
padding-top: 50px;

}

.info{

margin-bottom: 20%;
padding-bottom: 0;
height: 200px;

}
  .about h5{
  color: red;
    padding-bottom: 0;
    padding-left: 50%;
    padding-top: calc(72% + 100px);
    margin-left: 0;
    font-size: 20px;
    font-family: 'Pavanam', sans-serif;

  }

.about{

height: 900px;

}

.link{

  width: 10%;
  margin-left: auto;
  margin-right: auto;
}


    .link a{
text-align: center;
    }

  .left-menu p{
    writing-mode: horizontal-tb;
    left: 20px;
    top: 0;
    margin-top: 0;
    font-weight: 1800;
    z-index: 200;
    color: #000;
    width: 100%;
    height: 40px;
  background-color: #fff;
  padding-top: 20px;
  text-align: left;

  }

.footer{
margin-top: 700px;

}

  .title p{
  display: none;
  }
  .lines{

    top:2%;
  }



  .box{
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 550px;
  margin-top: 20px

  }

  .box h1{
font-size: 3vW;

  }

  .box p{
font-size: 3.2vW;
line-height: 30px;

  }

.book{

margin-top: 1200px;

}

.blue{
height: 300px;

}

.three_levels{

display: none;
}



.backup{

  display: block;
  height: 600px;
  margin-bottom: 1500px;
}

.blue p{
  font-family: 'Lato', sans-serif;
  font-size: 2vW;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  padding-top: 0;
}

.blue h5{
  font-size: 2.8vW;
text-align: center;
padding-top: 120px;
}

.board{
display: none;

}

.about h1{
font-size: 3vW;
  width: 60%;
}
.about h5, .about h1{
padding-left: 20%;
margin-left: 0;
}

.about h5{
font-size: 5vW;

}
.about h2{
font-size: 2.4vW;
padding-left: 24%;

}
.blue{

  margin-top: 100px;
}

.three_levels{

  height: 500px;
}

.book h1{

padding-top: 100px;
font-size: 4vW;
}

.logos{
margin-top: 20px;
margin-right: auto;
margin-left: auto;
width: 30%;
padding-left: 0;
}

.logo{
  padding-top: 30px;
height: auto;
margin-left: auto;
margin-right: auto;
width: 100%;
float: left;

}

.info h3, .info h4{
width: 94%;

}

.info h3{

  font-size: 3vW;
}

.info h4{

  font-size: 2vW;
}

.backup p{
font-size: 3vW;

}

  }

@media screen and (max-width: 401px) {

  .backup{
    margin-bottom: 900px;
  }

  .box{
  height: 400px;
  }


  .logos{
  margin-top: 20px;
  width: 60%;
  }

  .logo{
    padding-top: 10px;
  height: auto;
  width: 100%;

  }

  .footer{
    margin-top: 200px;

  }

  .book{
margin-top: 600px;

  }

  .text_two{
left: 30%;

  }


    .background{
    margin-top: 60px;
    }

.about{
height: 700px;

}

}
